        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div [ngSwitch]="isAuthenticated()">
    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
        <mat-icon *ngSwitchCase="false">lock_open</mat-icon>
        <div *ngSwitchCase="true">
            <mat-icon *ngIf="!getImageUrl()">account_circle</mat-icon>
            <img *ngIf="getImageUrl()" [src]="getImageUrl()" class="profile-pic" alt="user">
        </div>
    </button>
    
    <mat-menu #profile="matMenu" class="mymegamenu">
        <button *ngSwitchCase="true" mat-menu-item (click)="settings()">
            <mat-icon>settings</mat-icon>
            <span jhiTranslate="global.menu.account.settings">Settings</span>
        </button>
        <button *ngSwitchCase="true" mat-menu-item (click)="password()">
            <mat-icon>lock</mat-icon>
            <span jhiTranslate="global.menu.account.password">Password</span>
        </button>
        <button *ngSwitchCase="false" mat-menu-item (click)="login()">
            <mat-icon>power_settings_new</mat-icon>
            <span jhiTranslate="global.menu.account.login">Sign in</span>
        </button>
        <button *ngSwitchCase="true" mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span jhiTranslate="global.menu.account.logout">Sign out</span>
        </button>
             
        <button *ngSwitchCase="false" mat-menu-item (click)="register()">
            <mat-icon>person_add</mat-icon>
            <span jhiTranslate="global.menu.account.register">Register</span>
        </button>
    </mat-menu>
</div>
