<div>
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <h2>
                <span jhiTranslate="rainyApp.user_favorite.home.title">User Favorites</span>
            </h2>
            <div class="card jh-card">
                <!--<div class="ra-overlay">
                    <mat-spinner *ngIf="isProgressing" [diameter]=50></mat-spinner>
                </div>-->
                <mat-list>
                    <mat-list-item *ngFor="let user_favorite of user_favorites ;trackBy: trackId">
                        <!--<img matListAvatar src="{{ {{user_favorite.user?.login}}}}" alt="avatar" />-->
                        <!--<a [routerLink]="['../shop', shopStatus.shop?.id ]"></a>-->
                        <h3 mat-line><i>{{user_favorite.user?.login}}</i></h3>
                        <!--<p mat-line><a [routerLink]="['../shop', shopStatus.shop?.id ]">{{shopStatus.shop?.name}}</a></p>
                        <h4 mat-line>{{shopStatus.lastModifiedDate | date: 'short'}}</h4>-->
                        <p mat-line><mat-divider></mat-divider></p>
                    </mat-list-item>
                </mat-list>
                <div *ngIf="user_favorites && user_favorites.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

</div>

<!--<div>
    <h2>
        <span jhiTranslate="rainyApp.user_favorite.home.title">User Favorites</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-favorite" [routerLink]="['/', { outlets: { popup: ['user-favorite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rainyApp.user_favorite.home.createLabel">
            Create new User Favorite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="user_favorites">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="rainyApp.user_favorite.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shop.name"><span jhiTranslate="rainyApp.user_favorite.shop">Shop</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user_favorite of user_favorites ;trackBy: trackId">
                <td><a [routerLink]="['../user-favorite', user_favorite.id ]">{{user_favorite.id}}</a></td>
                <td>
                    {{user_favorite.user?.login}}
                </td>
                <td>
                    <div *ngIf="user_favorite.shop">
                        <a [routerLink]="['../shop', user_favorite.shop?.id ]" >{{user_favorite.shop?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-favorite', user_favorite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-favorite/'+ user_favorite.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-favorite/'+ user_favorite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="user_favorites && user_favorites.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>-->
