<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <form class="basic-form" name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>
                        <span jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for [<b>{{account.login}}</b>]</span>
                    </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayoutWrap="wrap" fxFlexAlign="center" class="row">
                        <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <input matInput type="password" id="password" name="password" #passwordInput="ngModel"
                                       [(ngModel)]="password" minlength=4 maxlength=50 required>
                                <mat-placeholder>
                                    <label jhiTranslate="global.form.newpassword.placeholder"></label>
                                </mat-placeholder>
                            </mat-form-field>
                            <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                        </div>
                        <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                            <mat-form-field>
                                <input matInput type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                <mat-placeholder>
                                    <label jhiTranslate="global.form.confirmpassword.placeholder"></label>
                                </mat-placeholder>
                            </mat-form-field>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" fxFlexAlign="center" class="row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.form.invalid" jhitranslate="password.form.button">save</button>
                </div>
            </mat-card-content>
            <mat-card-action>
                <div *ngIf="doNotMatch" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <div class="text-center text-danger">
                        <span jhiTranslate="global.messages.error.dontmatch"></span>
                    </div>
                </div>
                <div *ngIf="error" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <div class="text-center text-danger">
                        <span jhiTranslate="password.messages.error"></span>
                    </div>
                </div>
                <div *ngIf="success"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <div class="text-center text-success">
                        <span  jhiTranslate="password.messages.success"></span>
                    </div>
                </div>
            </mat-card-action>
            </form>
        </mat-card>
      </div>
</div>
