.example-card {
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
}

agm-map {
    height: 300px;
}

.ra-full-width {
    width: 100%;
}


.ra-full-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
