<div>
    <div class="col-12 col-md-6 col-lg-3 pt-1">
        <h2>
            <span jhiTranslate="rainyApp.shop.home.title">Shops</span>
            <button mat-raised-button color="primary" class="float-right" [routerLink]="['/shop-user-new']">
                <i class="material-icons">person_add</i>&nbsp;
                <span jhiTranslate="rainyApp.shop.home.createLabel">
                    Create new Shop
                </span>
            </button>
        </h2>

    </div>
        
    <div class="row" *ngIf="shops">
        <div class="col-12 col-md-6 col-lg-3 pt-1" *ngFor="let shop of shops ;trackBy: trackId">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>{{shop.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <mat-icon matPrefix><i class="material-icons">accessibility</i></mat-icon>:&nbsp;{{shop.category}}
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                        <mat-icon matPrefix><i class="material-icons">local_offer</i></mat-icon>:&nbsp;
                        <span>{{shop.price | number : '1.0'}}</span>&nbsp;<span jhiTranslate="rainyApp.shop.baht"></span>
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                        <mat-icon matPrefix><i class="material-icons">directions_walk</i></mat-icon>:&nbsp;
                        <span jhiTranslate="rainyApp.shop.distance" translateValues="{ param: {{shop.distance}} }"></span>
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                        <mat-icon matPrefix><i class="material-icons">cake</i></mat-icon>:&nbsp;
                        <span>{{shop.age}}</span>&nbsp;<span jhiTranslate="rainyApp.shop.years"></span>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src={{shop.pic_cover}}>
                </mat-card-title-group>
                <mat-card-actions>
                   
                    <button mat-icon-button type="submit" [routerLink]= "['/', { outlets: { popup: 'shop-status-update/' + shop.id } }]">
                        <span><mat-icon matPrefix><i class="material-icons">chat</i></mat-icon></span></button>
                    <button mat-icon-button type="submit" [routerLink]="['../shop-user-edit', shop.id]">
                        <span><mat-icon matPrefix><i class="material-icons">border_color</i></mat-icon></span></button>
                    <button mat-icon-button type="submit" [routerLink]="['../album-shop', shop.id]">
                        <span><mat-icon matPrefix><i class="material-icons">add_a_photo</i></mat-icon></span>
                    </button>
                    <button mat-icon-button type="submit" [routerLink]="['../shop', shop.id]"><span>
                        <mat-icon matPrefix><i class="material-icons">account_circle</i></mat-icon></span></button>
                    <button mat-icon-button type="submit"
                           [routerLink]="['/', { outlets: { popup: 'shop/'+ shop.id + '/delete'} }]"
                            replaceUrl="true"
                            color="warn"><span><mat-icon matPrefix><i class="material-icons">delete_forever</i></mat-icon>
                                </span>
                    </button>
                </mat-card-actions>
        </div>
    </div>

    <div class="row" *ngIf="noData">
        <div class="col-12">
            <h3 jhiTranslate="rainyApp.shop.no-data"></h3>
        </div>
    </div>
</div>

