<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<form novalidate [formGroup]='searchForm' (ngSubmit)="searchNearBy()">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col card jh-card">
                    <mat-form-field>
                        <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                        <input formControlName="km" matInput type="number" />
                        <mat-placeholder><label jhiTranslate="rainyApp.shop.shop-near-by"></label></mat-placeholder>
                        <mat-hint><strong jhiTranslate="rainyApp.shop.hint"></strong></mat-hint>
                        <span matSuffix jhiTranslate="rainyApp.shop.km"></span>
                    </mat-form-field>
                    <jhi-angular-loader></jhi-angular-loader>
                </div>
                <!--<div *ngIf="false" class="col-12 col-md-6 col-lg-2 pt-1">
                     <label jhiTranslate="rainyApp.shop.sort-price"></label>
                     <mat-radio-group  formControlName="price" >
                         <mat-radio-button value="asc" checked><span jhiTranslate="rainyApp.shop.asc"></span></mat-radio-button>
                         <mat-radio-button value="desc"><span jhiTranslate="rainyApp.shop.desc"></span></mat-radio-button>
                     </mat-radio-group>
             </div>
             <div *ngIf="false" class="col-12 col-md-6 col-lg-2 pt-1">
                    <button mat-raised-button color="primary" type="submit"><span jhiTranslate="rainyApp.shop.search"></span></button>
            </div>-->
                <!--<div class="col-12 col-md-6 col-lg-2 pt-1">
                <jhi-angular-loader></jhi-angular-loader>
            </div>-->
            </div>
            <div class="row pt-2">
                <div class="col" align="center">
                    <button mat-raised-button color="basic" type="submit"><span jhiTranslate="rainyApp.shop.search"></span></button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!--<pre>{{searchForm.value | json}}</pre>-->
</form>
<div class="row pt-1" *ngIf="shops">
    <div class="col-12 col-md-6 col-lg-3 pt-1" *ngFor="let shop of shops ;trackBy: trackId">
        <mat-card class="example-card">
            <!--<mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{shop.name}}</mat-card-title>
                <mat-card-subtitle>{{shop.tel}}</mat-card-subtitle>
            </mat-card-header>-->

            <mat-card-title-group>
                <mat-card-title>{{shop.name}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon matPrefix><i class="material-icons">wc</i></mat-icon>:&nbsp;
                    <span jhiTranslate="{{'rainyApp.Ra_type.' + shop.category}}"></span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                    <mat-icon matPrefix><i class="material-icons">local_offer</i></mat-icon>:&nbsp;
                    <span>{{shop.price | number : '1.0'}}</span>&nbsp;<span jhiTranslate="rainyApp.shop.baht"></span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                    <mat-icon matPrefix><i class="material-icons">directions_car</i></mat-icon>:&nbsp;
                    <span jhiTranslate="rainyApp.shop.distance" translateValues="{ param: {{shop.distance}} }"></span>
                </mat-card-subtitle>

                <mat-card-subtitle>
                    <mat-icon matPrefix><i class="material-icons">cake</i></mat-icon>:&nbsp;
                    <span>{{shop.age}}</span>&nbsp;<span jhiTranslate="rainyApp.shop.years"></span>
                </mat-card-subtitle>
                <img mat-card-lg-image src={{shop.pic_cover}}>
            </mat-card-title-group>

           <!-- <img mat-card-image src="https://i.imgsafe.org/30/30d15ed64b.jpeg" alt="Photo of a Shiba Inu">-->
<!--            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
            </mat-card-content>-->
            <mat-card-actions>
                <button mat-button type="submit" [routerLink]="['../shop', shop.id]">
                    <span jhiTranslate="rainyApp.shop.more_detail"></span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div *ngIf="shops && shops.length">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">      
        <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
    <mat-spinner hidden></mat-spinner>
</div>
