<div *ngIf="shop">
    <h2>{{shop.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class ="row">
        <div class="col"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <picture>
                        <!--<source media="(min-width: 1024px)" srcset="https://i.imgsafe.org/30/30d15ed64b.jpeg">-->
                        <source media="(min-width: 600px)" srcset="https://i.imgsafe.org/30/30d1594c95.jpeg"> <!--128 x 128-->
                        <source media="(min-width: 360px)" srcset="https://i.imgsafe.org/30/30d146899c.jpeg"> <!--256 x 256-->
                        <img />
                    </picture>
                </mat-grid-tile>
                <mat-grid-tile><img src="{{shop.pic_cover}}"></mat-grid-tile>

            </mat-grid-list>
            <br/>
            <mat-tab-group>
                <mat-tab label="รายละเอียด">
                    <dl class="row-md jh-entity-details">

                        <dt><span jhiTranslate="rainyApp.shop.tel">Tel</span></dt>
                        <dd>
                            <span>{{shop.tel}}</span>
                        </dd>
                        <dt><span jhiTranslate="rainyApp.shop.line_uname">Line Uname</span></dt>
                        <dd>
                            <span>{{shop.line_uname}}</span>
                        </dd>
                        <dt><span jhiTranslate="rainyApp.shop.description">Description</span></dt>
                        <dd>
                            <span>{{shop.description}}</span>
                        </dd>
                        <dt><span jhiTranslate="rainyApp.shop.age">Age</span></dt>
                        <dd>
                            <span>{{shop.age}}</span>
                        </dd>
                        <dt><span jhiTranslate="rainyApp.shop.type">Type</span></dt>
                        <dd>
                            <span jhiTranslate="{{'rainyApp.Shop_type.' + shop.type}}">{{shop.type}}</span>
                        </dd>
                        <dt><span jhiTranslate="rainyApp.shop.price">Price</span></dt>
                        <dd>
                            <span>{{shop.price}}</span>
                        </dd>
                    </dl>
                </mat-tab>
                <mat-tab label="การบ้าน">Content 2</mat-tab>
            </mat-tab-group>
           <!-- <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{shop.name}}</mat-card-title>
                    <mat-card-subtitle>{{shop.tel}}</mat-card-subtitle>
                </mat-card-header>
                &lt;!&ndash; <img mat-card-image src="https://i.imgsafe.org/30/30d15ed64b.jpeg" alt="Photo of a Shiba Inu">&ndash;&gt;
                <mat-card-content>
                    <p>{{shop.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
-->


        </div>
        <div class="col"></div>
    </div>
<!--

-->

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shop/'+ shop.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
