<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShopLabel" jhiTranslate="rainyApp.shop.home.createOrEditLabel">Create or edit a Shop</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shop.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shop.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="shop.name" required maxlength="30"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                   This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.pic_cover" for="field_pic_cover">Pic Cover</label>
            <input type="text" class="form-control" name="pic_cover" id="field_pic_cover"
                [(ngModel)]="shop.pic_cover" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.tel" for="field_tel">Tel</label>
            <input type="text" class="form-control" name="tel" id="field_tel"
                [(ngModel)]="shop.tel" maxlength="20"/>
            <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.line_uname" for="field_line_uname">Line Uname</label>
            <input type="text" class="form-control" name="line_uname" id="field_line_uname"
                [(ngModel)]="shop.line_uname" maxlength="10"/>
            <div [hidden]="!(editForm.controls.line_uname?.dirty && editForm.controls.line_uname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.line_uname?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="shop.description" maxlength="1000"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                   This field cannot be longer than 1000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="shop.age" max="99"/>
            <div [hidden]="!(editForm.controls.age?.dirty && editForm.controls.age?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.age?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 99 }">
                    This field cannot be more than 99.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.age?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.category" for="field_category">Category</label>
            <select class="form-control" name="category" [(ngModel)]="shop.category" id="field_category" >
                <option value="MALE">{{'rainyApp.Ra_type.MALE' | translate}}</option>
                <option value="FEMALE">{{'rainyApp.Ra_type.FEMALE' | translate}}</option>
                <option value="LADY_BOY_S">{{'rainyApp.Ra_type.LADY_BOY_S' | translate}}</option>
                <option value="LADY_BOY">{{'rainyApp.Ra_type.LADY_BOY' | translate}}</option>
                <option value="TOM">{{'rainyApp.Ra_type.TOM' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="shop.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.shape" for="field_shape">Shape</label>
            <input type="text" class="form-control" name="shape" id="field_shape"
                [(ngModel)]="shop.shape" maxlength="20"/>
            <div [hidden]="!(editForm.controls.shape?.dirty && editForm.controls.shape?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shape?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.skin" for="field_skin">Skin</label>
            <select class="form-control" name="skin" [(ngModel)]="shop.skin" id="field_skin" >
                <option value="WHITE">{{'rainyApp.Ra_skin.WHITE' | translate}}</option>
                <option value="PALE">{{'rainyApp.Ra_skin.PALE' | translate}}</option>
                <option value="TAN">{{'rainyApp.Ra_skin.TAN' | translate}}</option>
                <option value="BLACK">{{'rainyApp.Ra_skin.BLACK' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.high" for="field_high">High</label>
            <input type="number" class="form-control" name="high" id="field_high"
                [(ngModel)]="shop.high" max="200"/>
            <div [hidden]="!(editForm.controls.high?.dirty && editForm.controls.high?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.high?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 200 }">
                    This field cannot be more than 200.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.high?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="shop.weight" max="200"/>
            <div [hidden]="!(editForm.controls.weight?.dirty && editForm.controls.weight?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weight?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 200 }">
                    This field cannot be more than 200.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weight?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rainyApp.shop.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="shop.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === shop.user?.id ? shop.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
