.example-card {
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
}

.ra-full-width {
    width: 100%;
}

.ra-full-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

/* override global setting */
.ng-invalid:not(form)  {
  border-left: 0px;
}

.ra-overlay {
    top: 25%;
    position: absolute;
    left: 50%;
    z-index: 5;
}

    .ra-overlay div {
        position: relative;
        left: -50%;
        border-radius: 5px;
        color: #FFF;
        min-width: 150px;
        z-index: 6;
    }

