<div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-10 col-lg-8">
        <h2>
            <span jhiTranslate="rainyApp.shopStatus.home.title">Shop Statuses</span>
        </h2>
        <div class="card jh-card">
            <div class="ra-overlay">
                <mat-spinner *ngIf="isProgressing" [diameter]=50></mat-spinner>
            </div>
            <mat-list>
                <mat-list-item *ngFor="let shopStatus of shopStatuses ;trackBy: trackId">
                    <img matListAvatar src="{{shopStatus.shop?.pic_cover}}" alt="avatar" />
                    <a [routerLink]="['../shop', shopStatus.shop?.id ]"></a>
                    <h3 matLine><i>"{{shopStatus.message}}"</i></h3>
                    <p mat-line><a [routerLink]="['../shop', shopStatus.shop?.id ]">{{shopStatus.shop?.name}}</a></p>
                    <h4 mat-line>{{shopStatus.lastModifiedDate | date: 'short'}}</h4>
                    <p mat-line><mat-divider></mat-divider></p>
                </mat-list-item>
            </mat-list>
            <div *ngIf="shopStatuses && shopStatuses.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
