.ra-overlay {
    top: 25%;
    position: absolute;
    left: 50%;
    z-index: 5;
}

    .ra-overlay div {
        position: relative;
        left: -50%;
        border-radius: 5px;
        color: #FFF;
        min-width: 150px;
        z-index: 6;
    }
