<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-title>
                    <h3 jhiTranslate="reset.request.title">Reset your password</h3>
            </mat-card-title>
            <mat-card-content>
                <form class="basic-form" [formGroup]="form" (ngSubmit)="requestReset()">
                    <!-- column -->
                    <div fxFlex.gt-sm="100"  fxFlex.gt-xs="100" fxFlex="100">
                        <mat-form-field style="width: 100%">
                            <input matInput type="email" [formControl]="form.controls['email']">
                            <mat-placeholder><label jhiTranslate="reset.request.messages.info"></label></mat-placeholder>
                        </mat-form-field>
                        <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger support-text">
                            <span jhiTranslate="global.messages.validate.email.required"></span>
                        </small>
                        <small *ngIf="form.controls['email'].hasError('maxlength')  && form.controls['email'].touched" class="text-danger support-text">
                            <span jhiTranslate="rainyApp.shop.invalid-length"></span>
                        </small>
                        <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="text-danger support-text">
                            <span jhiTranslate="global.messages.validate.email.invalid"></span>
                        </small>
                    </div>
                    <button mat-raised-button color="primary" type="submit"  [disabled]="!form.valid" jhitranslate="reset.request.form.button">reset</button>
                </form>
            </mat-card-content>
            <mat-card-action>
                <div *ngIf="errorEmailNotExists" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                    <div class="text-left text-danger">
                        <span jhiTranslate="reset.request.messages.notfound"></span>
                    </div>
                </div>
                <div *ngIf="success === 'OK'" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                    <div class="text-left text-success">
                        <span jhiTranslate="reset.request.messages.success"></span>
                    </div>
                </div>
            </mat-card-action>
        </mat-card>
    </div>
</div>
