
/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/social-facebook-button-blue-icon.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}
